{% extends 'base/base.html' %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %} Listado de mascotas {% endblock %}

{% block content %}

{% if mascotas %}
{% if is_Specific == 'General' %}
<h2>Listado de mascotas registradas</h2>
{% elif is_Specific == 'Adoptante' %}
<h2>Listado de mascotas adoptadas por {{persona.nombre}} {{persona.apellidos}}</h2>
{% elif is_Specific == 'Vacunas' %}
<h2>Listado de mascotas con la vacuna {{Vacuna}}</h2>
{% endif %}

<br>
<table class="table table-bordered" id="myTable">
    <thead class="title-table">
        <tr>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Raza</td>
            <td>Fecha de rescate</td>
            {% if not is_Specific == 'Adoptante' %}
                <td>Adoptante</td>
            {% endif %}
            <td>Detalles</td>
        </tr>
    </thead>
    <tbody>
            {% for mascota in mascotas %}
                <tr>
                    <td>{{mascota.nombre}}</td>
                    <td>{{mascota.sexo}}</td>
                    <td>{{mascota.edad_aproximada}}</td>
                    <td>{{mascota.raza.nombre}}</td>
                    <td>{{mascota.fecha_rescate}}</td>
                    {% if not is_Specific == 'Adoptante' %}
                        {% if mascota.persona %}
                            <td><a href="{% url 'mascota:mascotas_persona' mascota.persona.id %}" class="link-p">{{mascota.persona.nombre}} {{mascota.persona.apellidos}}</a></td>
                        {% else %}
                            <td>Sin adoptar</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        <a class="btn btn-success" href="{% url 'mascota:mascota_detalles' mascota.id %}">Ver más</a>
                    </td>
                </tr>
            {% endfor %}

    </tbody>
</table>
{% else %}
    <h1>No hay registros de mascotas</h1>
{% endif %}

{% endblock %}