{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %} Listado de vacunas {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<table class="table table-bordered">
    {% if vacunas %}
    <thead class="title-table">
        <tr>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>Detalles</td>
        </tr>
    </thead>
    <tbody>
    {% for vacuna in vacunas %}
    <tr>
        <td>{{vacuna.nombre}}</td>
        <td>{{vacuna.descripcion}}</td>
        <td><a class="btn btn-success" href="{% url 'mascota:vacuna_detalles' vacuna.id %}">Ver más</a></td>
    </tr>
    {% endfor %}
    </tbody>
    {% else %}
        <h1>No hay registros de vacunas</h1>
    {% endif %}
</table>
{% endblock %}